.board {
    grid-area: bo;
    display: grid;
    grid-template-columns: repeat(5, 9vw);
    grid-template-rows: 12vw;
    grid-template-areas:
        "b1 b2 b3 b4 b5";
    column-gap: 0.4vw;
    place-self: center center;
}