.pot {
    grid-area: po;
    font-size: 1.5vw;
    font-weight: 600;
    text-transform: uppercase;
    color: #f7f1e3;
    place-self: start center;
    background: rgba(0, 0, 0, 0.25);
    padding: 1vw 2vw;
    border-radius: 0.5vw;
}