.player {
    display: grid;
    grid-template-columns: repeat(5, 3vw);
    grid-template-rows: repeat(4, 3vw);
    grid-area: player;
    box-shadow: 0 0vw 5vw 0 rgba(255, 255, 255, 0);
}

.player-1 {
    composes: player;
    grid-area: p1;
}

.player-2 {
    composes: player;
    grid-area: p2;
}

.player-3 {
    composes: player;
    grid-area: p3;
}

.bg {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    grid-column: 1 / span 5;
    grid-row: 4;
    border-bottom-left-radius: 0.4vw;
    border-bottom-right-radius: 0.4vw;
}

.name {
    position: relative;
    font-size: 1.25vw;
    color: white;
    font-weight: 900;
    place-self: center center;
    grid-column: 1 / 3;
    grid-row: 4;
}

.stack {
    position: relative;
    font-size: 2vw;
    color: white;
    font-weight: 900;
    place-self: center center;
    grid-column: 3 / 6;
    grid-row: 4;
}

.action {
    position: relative;
    place-self: center center;
    grid-column: 1 / span 5;
    grid-row: 2 / 4;
    background: #218c74;
    border-radius: 0.5vw;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    border: 0.2vw solid #33d9b2;
    box-shadow: 0 0vw 1vw 0 rgba(0, 0, 0, 0.25);
}

.show {
    position: relative;
    z-index: 9999;
    place-self: center center;
    grid-column: 1 / span 5;
    grid-row: 2 / 4;
    background: #cc8e35;
    border-radius: 0.5vw;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    border: 0.2vw solid #ffb142;
    box-shadow: 0 0vw 1vw 0 rgba(0, 0, 0, 0.25);
}